* {
    margin: 0;
    padding: 0;
  }
  .navbar{
    background-color: black;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
  }
  .navbar-collapse.show .navbar-nav {
    text-align: left;
    flex-direction: column; 
    justify-content: left;
  }
  
  .navbar-collapse.show .nav-logo {
  
    display: none; 
  }
  
  
  .navbar-toggler {
    background-color: black;
  }

  
  .promo-banner {
    background-color: rgb(98, 96, 96); 
    width: 99vw; 
    padding: 10px ; 
    margin-top: 50px;
  }
  
  .promo-content {
    border-color: chartreuse;
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 0 40px;
    text-align: center;
  }
  
  .promo-banner p {
    margin: 0;
    color: white;
  }
  
  .promo-banner a {
    color: rgb(244, 244, 237);
    font-weight: bold;
  }
  
  .carousel-container {
    position: relative;
    height: 600px;
  }
  .carousel-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
  }
  .carousel-content p{
    font-size: 14px;
  }

  .carousel-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .carousel-content a {
    color: white;
  
  }
  .link-button {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease; 
  }
  .carousel-item img{
    height: 600px;
    max-width: 100%;
  }
  .link-button:hover {
    text-decoration: underline; 
    color: #faf5f5;
  }
  
  
 

.carousel-content h2 {
  font-weight: bold;
  font-size: 2rem; 
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: block; 
  width: 100%; 
}

  
.carousel-content p {
  font-weight: lighter; 
  font-size: 1.25rem;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: block; 
  width: 100%; 
}
.carousel-container img {
  border: 5px solid rgb(46, 45, 45); 
  box-sizing: border-box; 
}


.footer {
  padding: 10px ;
  background-color: #121111; 
  color: #fff; 
}

.footer h5 {
  font-size: 1.0rem;
  margin-bottom: 1rem;
  color: #ccc;
}

.footer ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  gap: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
  font-size: small;
}

.footer-links li a {
  text-decoration: none;
  color: #fff; 
  font-weight: lighter; 
}

.footer-links li a:hover {
  text-decoration: underline; 
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #444; 
  padding-top: 10px;
}

.footer-legal {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-legal li {
  display: inline-block;
  margin-right: 15px;
}

.footer-legal li a {
  color: #fff; 
  font-weight: bold;
  text-decoration: none;
}

.footer-legal li a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-links li {
  padding: 0.3rem 0;
}

.footer-motto {
  font-weight: bold;
  font-size: small;
  color: green;
  margin-bottom: 0; 
}

.footer-bottom {
  padding: 10px 0;
  font-size: 10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: center;
}

.footer-bottom p, .footer-legal li {
  margin: 0;
  padding-right: 40px;
}

.footer-legal {
  list-style: none;
  padding-left: 20px;
  margin:  15px  ;
  display: inline-flex;
  gap: 15px; 
}

.footer-legal li::after {
  content:  " | " ;
 
  color: #ccc; 
}

.footer-legal li:last-child::after {
  content: "";
}

.footer-legal li a {
  font-weight: 100;   

  text-decoration: none;
  font-size: x-small;
}

.footer-location {
  display: inline-block;
  padding-left: 240px; 
}
.footer-location {
  font-weight: bold;
}
.footer-location a {
  text-decoration: none; 
  color: inherit; 
  font-weight: normal;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease; 

}
.footer-location a:hover{
  text-decoration: underline; 
    color: #faf5f5;
}